---
import Layout from "../layouts/Layout.astro";
import DitherBackground from "../components/DitherBackground.astro";
---

<Layout title="Thank You | Portfolio Nicolas Loto">
  <main
    class="relative min-h-screen flex items-center justify-center overflow-hidden"
  >
    <DitherBackground class="absolute inset-0 z-0" intensity="strong" />

    <div class="container mx-auto px-4 z-10">
      <div
        class="max-w-2xl mx-auto text-center bg-white/20 backdrop-blur-md rounded-3xl p-8 shadow-md shadow-black-500/10 border border-white/30 border-opacity-50"
      >
        <h1 class="text-4xl font-bold text-white mb-6">Thank You!</h1>

        <p class="text-white/80 mb-6">
          Your message has been sent successfully. I will get back to you as
          soon as possible.
        </p>

        <a
          href="/"
          class="inline-flex items-center px-6 py-3 bg-gradient-to-r from-zinc-800 via-emerald-900 to-zinc-800 text-white font-medium rounded-xl border border-white/20 shadow-lg"
          aria-label="Back to Home"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z"
              clip-rule="evenodd"></path>
          </svg>
          Back to Home
        </a>
      </div>
    </div>
  </main>
</Layout>
